<section class="bg-white py-[60px] bg-[#E6F5F6]">
    <div class="container mx-auto text-center">
      <!-- Heading -->
      <h2 class="font-bold text-[20px] leading-[22.4px] tracking-[-0.02em] text-[#484F59] text-center mb-8">
        {{ .Params.logoSection.heading }}
      </h2>
  
      <!-- Logos -->
      <div class="flex justify-center space-x-[90px]">
        {{ range .Params.logoSection.logos }}
          <div class="flex-shrink-0">
            <img src="{{ . }}" alt="Partner Logo" class="w-auto h-[50px]">
          </div>
        {{ end }}
      </div>
    </div>
  </section>
  